h1 {
    color: #2c2496dc;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  H2{text-align: center;}

      /*cuerpo imagen*/
    head {
      background-image:url("https://www.desarrollolibre.net/public/images/example/html/botones_material/menu-rueda.gif");
    }
    /*fondo*/
    body {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKb7NJaxXk1GIoDmgzJDc2ZE6nuAw2uOdE5Q&usqp=CAU");
    }


    /*TABLES CSS*/
    table, th, td{
      background-color:#b3e0f5;
      margin: auto;
      padding: 5px;
      table-layout: auto;
      text-align: justify;
      border: 1px solid  #c09cc0;
      border-collapse: collapse;
  }
  
  
  th{
      color: rgba(231, 16, 16, 0.911);
      text-align: center;
  } 
  td{
      color: black;
      font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
  }
  
  .table{
      margin: 20px;
      background-color: rgba(209, 228, 143, 0.5);
  }
  
  
  
  footer{
      text-align: center;
      line-height: 2;
      background-color:rgb(211, 171, 158,.5);

  }
/*¡Efecto de sombra de texto!*/

  h1 {
    text-shadow: 2px 2px 5px rgb(72, 4, 180);
  }
  
  /*PIE DE PÁGINA*/
footer{
  width: 100%;
  height: 184px;
  background: #005fbf;
}
footer h3{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 18px;
}

  










 