h1 {
    color: #2617f8;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ex1 {
    margin: auto;
    background: gold;
    width: 66%;
  }
  .ex2 {
    margin: 20px 0px 0 -20px;
    background: gold;
    width: 66%;
  }

 