h1 {
    color: #2c2496dc;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
      /*cuerpo imagen*/
    body {
      background-image: url("https://thumbs.dreamstime.com/z/c%C3%B3digo-del-css-y-del-html-26162431.jpg");
    background-repeat: repeat-x;}

    
    /*TABLES CSS*/
    table, th, td{
      background-color:#e2ad25;
      margin: auto;
      padding: 5px;
      table-layout: auto;
      text-align: justify;
      border: 1px solid  #bbdbe7;
      border-collapse: collapse;
  }
  
  th{
      color: black;
      text-align: center;
  } 
  td{
      color: black;
      font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
  }
  
  .table{
      margin: 20px;
      background-color: rgb(250, 237, 205, .5);
  }
  
  
  footer{
      text-align: center;
      line-height: 2;
      background-color:rgb(211, 171, 158,.5);

  }
  










 